@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Young+Serif&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  z-index: 1;
  border-bottom: 2px solid #40916d;
  box-shadow: 0 2px 4px #40916d9c;
  padding: 24px; }
  @media (max-width: 480px) {
    header {
      flex-direction: column;
      align-items: center;
      gap: 16px; } }
  header button {
    padding: 4px; }
    header button:hover, header button:active {
      cursor: pointer; }
  header .header_logo {
    font-family: 'Young Serif', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 480px) {
      header .header_logo {
        position: static;
        transform: translate(0, 0); } }
    header .header_logo a {
      font-family: inherit;
      font-size: 2rem;
      text-decoration: none;
      color: #333333;
      transition: text-shadow 0.2s; }
      header .header_logo a:hover, header .header_logo a:active {
        text-shadow: 0 0 16px #40916d9c; }
  header .header_user-container {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 0.9rem; }
    header .header_user-container a {
      text-decoration: none; }

.button_primary {
  background-color: #40916d;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid #40916d;
  color: #ffffff;
  font-size: 1rem; }
  .button_primary:hover, .button_primary:active {
    background-color: #ffffff;
    color: #40916d;
    cursor: pointer; }
    .button_primary:hover a, .button_primary:active a {
      color: #40916d; }
  .button_primary a {
    color: #ffffff;
    font-size: 1rem; }

.button_secondary {
  background-color: #ffffff;
  color: #40916d;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #40916d;
  font-size: 1rem; }
  .button_secondary:hover, .button_secondary:active {
    background-color: #ebebeb; }

.button_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid #333333;
  border-radius: 2px; }
  .button_delete:hover, .button_delete:active {
    background-color: #d9544fb4;
    cursor: pointer; }
  .button_delete img {
    height: 16px;
    width: 16px; }

.error_container {
  background-color: #d9534f;
  color: #ffffff;
  border: 2px solid #a3302c;
  border-radius: 4px;
  padding: 16px; }
  .error_container li {
    color: #ffffff;
    margin-left: 16px; }

.slogan_container {
  padding: 32px 64px;
  background-color: #ebebeb;
  position: relative; }
  .slogan_container div:first-child {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px; }

main {
  min-height: 100vh;
  padding: 64px 20vw;
  background-color: #fcfcfc; }
  @media (max-width: 1024px) {
    main {
      padding: 64px 10vw; } }
  @media (max-width: 768px) {
    main {
      padding: 64px 16px; } }

.page-title {
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 8px;
  margin-bottom: 16px;
  color: #40916c; }

.post-overview {
  border: 2px solid #ebebeb;
  border-left: 8px solid #40916d;
  border-radius: 4px;
  padding: 24px;
  margin: 24px 0;
  box-shadow: 2px 2px 4px #33333388; }
  .post-overview:hover, .post-overview:active {
    background-color: #ebebeb; }
  .post-overview .post-overview_title {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 8px; }
  .post-overview .post-overview_metadata, .post-overview strong {
    color: #adadad;
    font-size: 0.9rem;
    margin-bottom: 16px; }
  .post-overview .post-overview_updated {
    color: #adadad;
    font-size: 0.9rem;
    font-style: italic; }
  .post-overview .post-overview_text {
    margin-bottom: 8px; }

.post-full hr {
  margin: 64px 0; }

.post_body .post_title {
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 8px; }
.post_body .post_metadata, .post_body strong {
  color: #707070;
  margin-bottom: 40px; }
.post_body .post_updated {
  color: #707070;
  font-style: italic; }
.post_body .post_text {
  white-space: pre-wrap;
  line-height: 150%; }

.comments_section .comments_title {
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 8px; }
.comments_section .comment_create-container {
  margin: 32px 0; }
  .comments_section .comment_create-container form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0; }
    .comments_section .comment_create-container form textarea {
      width: 100%;
      height: 80px;
      padding: 8px; }
  .comments_section .comment_create-container button:hover, .comments_section .comment_create-container button:active {
    cursor: pointer; }
.comments_section .individual-comment_container {
  border-bottom: 1px solid #33333374;
  border-left: 1px solid #33333374;
  margin: 16px 0;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 4px; }
  .comments_section .individual-comment_container:nth-child(even) {
    background-color: #f5f5f5bc; }
  .comments_section .individual-comment_container .individual-comment_metadata {
    display: flex;
    align-items: center;
    gap: 8px; }
  .comments_section .individual-comment_container .comment_author {
    font-weight: 700; }
  .comments_section .individual-comment_container .comment_date {
    color: #707070; }
  .comments_section .individual-comment_container .individual-comment_text {
    margin-top: 4px;
    font-size: 0.9rem; }

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 32px 0; }
  .form button {
    width: 350px;
    padding: 8px; }
    .form button:hover, .form button:active {
      cursor: pointer; }

.disclaimer {
  line-height: 150%; }
  .disclaimer li {
    margin-left: 18px; }
  .disclaimer p {
    margin: 16px 0; }

footer {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 16px; }
  footer img {
    height: 32px;
    transition: transform 500ms ease-in-out; }
    footer img:hover {
      transform: rotateZ(360deg); }
  footer a {
    color: #fcfcfc;
    text-decoration: none; }
    footer a:hover, footer a:active {
      text-decoration: underline; }

/*# sourceMappingURL=App.css.map */
